.storage_display table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: auto;
  
}

.storage_display td,
.storage_display th {
  border: 2px solid #000000;
  padding: 8px;
}

.storage_display tr:nth-child(even) {
  background-color: #dccccc;
}


.storage_display tr:hover {
  background-color: #d4c1f0;
}

.storage_display th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8107b5;
  color: white;
}